.btn {
  background-color: #FEFEFE;
  outline: none;
  &:hover {
    background-color: rgb(171, 171, 171);
    cursor: pointer;
  }
  &:active {
    box-shadow: 1px 1px 2px rgba(171, 171, 171, .5);
  }
}