.root {
  padding-top: 4.8rem;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
}

main {
  position: relative;
  margin: 0 auto;
  min-width: 720px;
  width: 100%;
  max-width: 1200px;
  & > .container {
    padding: 2.4em 48px 0;
    max-width: none;
    min-height: 80rem;
  }
}

.section {
  position: relative;
  width: 100%;
  &__flex-row {
    display: flex;
    
    align-items: flex-start;
  }
  &__flex-item {
    background-color: #a5af19;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    &:first-child {
      margin: 104px 8px 0;
      width: 538px;
      height: 380px;
    }
  }
}