$footer_border: #1a1a1a;
$footer_color: #ababab;

.wrap-footer {
  border-top: 1px solid $footer_border;
  margin-top: 2rem;
  width: 100%;
  & > .container {
    max-width: 1170px;
  }
}

.footer {
  color: $footer_color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  position: relative;
  padding: 2rem;
  width: 100%;
  &__logo {
    width: 100px;
  }
  &__nav {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    & > .nav {
      & li {
        &.active {
          font-weight: bold;
        }
        & a {
          &.active {
            font-weight: bold;
          }
          &:hover, &:active, &.active {
            color: #076CC6;
          }
        }
      }
    }
  }
  &__auth {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: right;
    line-height: 1.2;
    max-width: 20%;
    & button {
      margin-left: .8rem;
    }
  }
}