.btn {
  background-color: $btn;
  border: 1px solid $btn_border;
  border-radius: 6px;
  color: $btn_color;
  padding: .85rem 2.1429rem;
  font-size: 1rem;
  line-height: 1;
  -webkit-transition: all .8s cubic-bezier(0.33, 1, 0.68, 1);
  -moz-transition: all .8s cubic-bezier(0.33, 1, 0.68, 1);
  transition: all .8s cubic-bezier(0.33, 1, 0.68, 1);
  &:hover {
    background-color: $btn_hover;
    color: $btn_hover_color;
    cursor: pointer;
  }
  &_primary {
    background-color: $btn_primary;
    color: $btn_primary_color;
    &:hover {
      background-color: $btn_primary_hover;
      color: $btn_primary_hover_color;
    }
  }
  &_dark {
    background-color: $btn_dark;
    color: $btn_dark_color;
    &:hover {
      background-color: $btn_dark_hover;
      color: $btn_dark_hover_color;
    }
  }
  & + & {
    margin-left: 8px;
  }
  &_l {
    padding: 24px 40px;
    font-size: 32px;
  }
  &_m {
    padding: 12px 24px;
    font-size: 16px;
  }
  &_s {
    border-radius: 4px;
    padding: 6px 10px;
  }
  &:disabled {
    background-color: $btn_disabled;
    border-color: $btn_disabled_border;
    color: $btn_disabled_color;
    &:hover {
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}