@import './colors.scss';
@import './grid.scss';
@import './nav.scss';
@import './btn.scss';

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  -moz-transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, box-shadow, border-color
}

html {
  font-size: 14px;
}

body {
  background-color: $body;
  color: $body_color;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.dark-theme {
    background-color: $body-dark;
    color: $body-dark_color;
    & .title {
      color: #FEFEFE;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  border-bottom: 1px solid $link_border;
  color: $link;
  text-decoration: none;
  outline: none;
  -webkit-transition: border-color .3s, color .3s;
  -moz-transition: border-color .3s, color .3s;
  transition: border-color .3s, color .3s;
  &:hover {
    border-bottom-color: $link_border_hover;
    cursor: pointer;
  }
}

.center {
  text-align: center;
}

.title {
  color: $body_color;
  font-size: 2.4rem;
  line-height: 1;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 2.4rem;
}